################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testapps/dlibtest/.vs/dlibtest/v15/ipch
/testapps/dlibtest/.vs/dlibtest/v15
